.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.dotm-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
}

.btn-bd-primary {
    --bd-violet-bg: #264653;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #2A9D8F;
    --bs-btn-hover-border-color: #2A9D8F;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #2A9D8F;
    --bs-btn-active-border-color: #2A9D8F;
}

.bd-mode-toggle {
    z-index: 1500;
}

.progress {
    width: 100%;
    height: 10px;
}

.progress > svg {
    width: 100%;
    display: block;
}


.toploader {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    height: 2px;
    z-index: 9999;
}

.toploader .loaderBar {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: #0E6EFD;
    width: 0;
    animation: borealisBar 2s linear infinite;
}

@keyframes borealisBar {
    0% {
        left: 0%;
        right: 100%;
        width: 0%;
        opacity: 1;
    }
    10% {
        left: 0%;
        right: 75%;
        width: 55%;
        opacity: 1;
    }
    90% {
        right: 0%;
        left: 75%;
        width: 15%;
        opacity: 0.30;
    }
    100% {
        left: 100%;
        right: 25%;
        width: 0%;
        opacity: 0.10;
    }
}

#awn-popup-wrapper .awn-popup-body.awn-popup-confirm {
    background: #000;
    color: #FFF;
}


.dj-slider {
    min-height: 200px;
    background-size: cover;
    display: flex;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.dj-slide {
    display: none;
    left: -400px;
}

.dj-slide.active {
    display: block;
    left: 0;
}

.section.active {
    display: flex !important;
}

.section {
    display: none !important;
}

theme_color {
    --white: #ffffff;
    --light: #9dd8fb;
    --dark: #6b0108;
    --primary: #002a6f;
    --secondary: #2b66a7;
    --info: #accf67;
    --success: #00a35d;
    --warning: #e2cb00;
    --danger: #f11800;
}

.custom-modal-size {
    max-width: none !important;
    width: 80% !important;
}


#awn-toast-container {
    z-index: 999999 !important;
}

